header {
  background-color: var(--cor-p2);
  grid-area: header;
}

header ul {
  list-style: none;
  gap: 40px;
}

.menu {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header a {
  background: var(--cor-p3);
  padding: 10px 20px;
  border-radius: 5px;
}

header a:hover {
  background: var(--cor-p1);
  color: var(--cor-1);
}
